{{#each post}}

<div class="card">
    <div class="card-body">
        <h1>{{title}}</h1>
        <hr>
        <small>{{date}}</small>
        <hr>
        <p>{{content}}</p>
    </div>
</div>

{{/each}}